<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Employee Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="/track"><span matBadge="{{seenCount}}" matBadgeOverlap="false">TrackList</span></a></li>
        <li><a href="#" routerLink="/search">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <li><a href="#" class="dropdown-toggle"><mat-icon>account_box</mat-icon></a></li>
        <ul class="dropdown-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Save</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
