<div class="col-xs-3" (mouseenter)="divSelected(true)" (mouseleave)="divSelected(false)">
    <div class="list-group-item clearfix" [ngClass]="{highlight : selectedStatus}"
    [popover]="myPopover2"
    [popoverOnHover]="true" popoverPlacement="right" [popoverDismissTimeout]="1000000"
    [popoverCloseOnMouseOutside]="false">
      <span class="pull-left">
          <p class="list-group-item-heading"> {{employee.name}}</p>
          <p class="list-group-item-text">{{employee.desgn}}</p>
        </span>
      <span class="pull-right">
            <img src="{{employee.image}}" alt="{{employee.name}}" class="img-responsive"
                 style="max-height: 50px">
      </span>
      <popover-content #myPopover2 title="Reportees Details">
          <div *ngFor="let empl of employee.reports">           
              <div class="col-lg-12">
                  <div class="list-group-item clearfix">
                    <span class="pull-left">
                        <p class="list-group-item-heading"> {{empl.name}}</p>
                        <p class="list-group-item-text">{{empl.desgn}}</p>
                      </span>
                    <span class="pull-right">
                          <img src="{{empl.image}}" alt="{{empl.name}}" class="img-responsive"
                               style="max-height: 50px">
                    </span>
                  </div>
              </div>             
            </div>
      </popover-content>
    </div>
</div>