  <div class="row">
    <div class="col-xs-5" (mouseenter)="fire()" (mouseleave)="fireClear()">
        <div class="list-group-item clearfix">
        <span class="pull-left">
          <p class="list-group-item-heading">{{receivedRecipe.name}}</p>
          <p class="list-group-item-text">{{receivedRecipe.designation}}</p>
        </span>
        <span class="pull-right">
          <img src="{{receivedRecipe.image}}" alt="{{receivedRecipe.name}}" class="img-responsive"
          style="max-height: 50px">
        </span>
        </div>
    </div>
    <div class="col-xs-5 list-group-item disDiv" *ngIf="showDetails" (mouseenter)="displayDetails()" (mouseleave)="hideDetails()">
      <app-recipe-item-detail [receivedRecipe]="receivedRecipe"></app-recipe-item-detail>
    </div>
  </div>
