<div class="row" *ngIf="showDetails || isEmitting">
  <div class="col-xs-5" [popover]="myPopover"
       [popoverOnHover]="true" popoverPlacement="right" [popoverDismissTimeout]="1000000"
       [popoverCloseOnMouseOutside]="false" (mouseenter)="divSelected(true)" (mouseleave)="divSelected(false)"
       (click)="disableCardAndDisplayDetails()"
       [popoverDisabled]="popoverDisabled">
    <div class="list-group-item clearfix" [ngClass]="{highlight : selectedStatus}">
        <span class="pull-left">
          <p class="list-group-item-heading">{{receivedRecipe.name}}</p>
          <p class="list-group-item-text">{{receivedRecipe.designation}}</p>
        </span>
      <span class="pull-right">
          <img src="{{receivedRecipe.image}}" alt="{{receivedRecipe.name}}" class="img-responsive"
               style="max-height: 50px">
        </span>
    </div>
    <popover-content #myPopover title="Employee Card">
      <app-recipe-item-detail [receivedRecipe]="receivedRecipe"
                              (emitSelectedRecipe)="emitSelectedRecipe($event)"></app-recipe-item-detail>
    </popover-content>
  </div>
  <div class="col-xs-1" *ngIf="!isEmitting">
    <div class="row">
      <br>
      <button mat-icon-button color="warn" *ngIf="receivedRecipe.notify"
              matTooltip="High-Risk" [matTooltipPosition]="position.value">
        <mat-icon style="font-size: 25px;margin-right: 2px;">warning</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-xs-7" *ngIf="isEmitting">
    <div class="list-group-item clearfix" [ngClass]="{highlight : selectedStatus}">
      <div class="row">
        <div (click)="enableCardAndHideDetails()" style="text-align: end;">
          <button mat-icon-button color="warn"
                  matTooltip="Close" [matTooltipPosition]="position.value">
            <mat-icon style="font-size: 30px;margin-right: 2px;">highlight_off</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="From">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xs-1">
        </div>
        <div class="col-xs-3">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="To">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <!--<div class="col-xs-2">-->
          <!--<button mat-icon-button color="primary">-->
            <!--<mat-icon style="font-size: 30px">search</mat-icon>-->
          <!--</button>-->
        <!--</div>-->
      </div>
      <div class="row">
        <ngx-charts-pie-chart *ngIf="chartdata"
                              [view]="view"
                              [scheme]="colorScheme"
                              [results]="employeeData"
                              [legend]="showLegend"
                              [explodeSlices]="explodeSlices"
                              [labels]="showLabels"
                              [doughnut]="doughnut"
                              (select)="onSelect($event)">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
