<div class="row" *ngIf="showDetails || isEmitting">
  <div class="col-xs-5" [popover]="myPopover"
       [popoverOnHover]="true" popoverPlacement="right" [popoverDismissTimeout]="1000000"
       [popoverCloseOnMouseOutside]="false" (mouseenter)="divSelected(true)" (mouseleave)="divSelected(false)"
       (click)="disableCardAndDisplayDetails()"
       [popoverDisabled]="popoverDisabled">
    <div class="list-group-item clearfix" [ngClass]="{highlight : selectedStatus}">
        <span class="pull-left">
          <p class="list-group-item-heading">{{receivedRecipe.name}}</p>
          <p class="list-group-item-text">{{receivedRecipe.designation}}</p>
        </span>
      <span class="pull-right">
          <img src="{{receivedRecipe.image}}" alt="{{receivedRecipe.name}}" class="img-responsive"
               style="max-height: 50px">
        </span>
    </div>
    <popover-content #myPopover title="Employee Card">
      <app-recipe-item-detail [receivedRecipe]="receivedRecipe"
                              (emitSelectedRecipe)="emitSelectedRecipe($event)"></app-recipe-item-detail>
    </popover-content>
  </div>
  <div class="col-xs-1" *ngIf="!isEmitting">
    <div class="row">
      <br>
      <button mat-icon-button color="warn" *ngIf="receivedRecipe.notify"
               matTooltip="High-Risk" [matTooltipPosition]="position.value">
        <mat-icon style="font-size: 25px;margin-right: 2px;">warning</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-xs-7" *ngIf="isEmitting">
    <div class="list-group-item clearfix" [ngClass]="{highlight : selectedStatus}">

    </div>
  </div>
</div>
